.item-card {
    width: 140px;
    background: #f8e0cc;
    border-radius: 12px;
    padding: 15px;
    cursor: pointer;
    border: 2px solid #bea08b;
}

.item-card img {
    width: 50px;
    height: 50px;
}

.item-card h3 {
    margin: 6px 0 5px;
}